@font-face {
    font-family: "futura-light";
    src: url("../fonts/futura-light.ttf");
    src: url("../fonts/futura-light.eot");
    src: url("../fonts/futura-light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/futura-light.woff") format("woff");
  
  }
  @font-face { /* logo quadratik */
    font-family: "alcubierre";
    src: url("../fonts/Alcubierre.ttf");
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
  body {
    background-color: #332D2A!important;
    color: #FFFFFF!important;
    font-family: "futura-light", sans-serif !important;
    /* line-height: 1.2em;
  letter-spacing: 0.2em; */
    column-span: all;
    width: 100vw;
    margin: 0 auto;
    height: 100vh!important;
    font-weight: 300 !important;
    line-height : 1.8em!important;
    letter-spacing : 0.1em;
    overflow-x: hidden;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }

.cadre_logo {
    aspect-ratio : 4 / 3.5;
    position: relative;
    top: 15vh;
    margin: auto;
    font-size:calc(5px + 1vw);
    color: #FFFFFF;
}

.cadre_home_droit {
    height: 60vh;
    position: relative;
    top: 80vh;
    border-right: #332D2A!important;
}
.cadre_home_gauche {
    height: 40vh;
    border-left: #332D2A!important;

}

.border_creme {
    border: solid thin #D0C3B4;
}

.logo {
    width: 80%!important;
}

.header {
    position: absolute;
    top: 4vh;
    text-align: right;
    font-size: 1.2vw;
}

#s0, #s1 {
    height : 100vh;
}


.btn-primary {
  font-family: "Alcubierre", sans-serif !important;
  color:white!important;
  background-color: transparent!important;
  border-color: white!important;
  letter-spacing: 4px!important;
  text-transform: uppercase;
}

.btn-secondary {
  font-family: "Alcubierre", sans-serif !important;
  font-size: 2.8vw!important;
  color:black!important;
  background-color: transparent!important;
  border-color: black!important;
  letter-spacing: 0.5vw!important;
  white-space: nowrap;
  text-transform: uppercase;

}

.presentation_produit {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.button_home {
  width: 70%!important;
}