@font-face {
  font-family: "futura-light";
  src: url("../fonts/futura-light.ttf");
  src: url("../fonts/futura-light.eot");
  src: url("../fonts/futura-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/futura-light.woff") format("woff");
}
@font-face {
  /* logo quadratik */
  font-family: "alcubierre";
  src: url("../fonts/Alcubierre.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #332d2a !important;
  color: #ffffff !important;
  font-family: "futura-light", sans-serif !important;
  column-span: all;
  width: 100vw;
  margin: 0 auto;
  height: 100vh !important;
  font-weight: 300 !important;
  line-height: 1.8em !important;
  letter-spacing: 0.1em;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

h2 {
  text-transform: uppercase;
  font-family: "alcubierre";
  letter-spacing: 5px;
}

.btn-primary {
  color: #332d2a !important;
  background-color: #8ea65f !important;
  border: none !important;
  letter-spacing: 4px !important;
  text-transform: uppercase;
  border-radius: 5px !important;
  padding: 2vh !important;
  font-weight: 800 !important;
  margin: 1vw !important;
  min-width: 300px !important;
  width: 25vw !important;
  font-size: calc(0.5rem + 0.4vw) !important;
}

.row {
  padding: 0!important;
  margin: 0!important;
}

.col {
  padding: 0!important;
  margin: 0!important;
}

.btn-primary:hover {
  background-color: #a1be66 !important;
}
.btn-primary i {
  margin-right: 1rem;
}

.btn-secondary {
  font-family: "Alcubierre", sans-serif !important;
  font-size: 2.8vw !important;
  color: black !important;
  background-color: transparent !important;
  border-color: black !important;
  letter-spacing: 0.5vw !important;
  white-space: nowrap;
  text-transform: uppercase;
}

.burger {
  z-index: 1000;
  position: fixed;
  padding-top: calc(2vh + 2vw);
}

.trait {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 15vh;
  border: 1px solid white;
  line-height: 0.1em;
}

.animatedcontainer {
  z-index: -1;
  will-change: transform, opacity;
}

.page_index {
  text-transform: uppercase;
  font-family: "alcubierre";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw !important;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 3vw;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: center center;
  font-size: 0.8vw;
  letter-spacing: 0.25vw;
}

.s0_brand_name {
  font-family: alcubierre;
  position: relative;
  top: -50%;
  height: 50%;
}

.s0_quadratik_text {
  position: absolute;
  font-size: calc(1.275rem + 1vw) !important;
  top: 40%;
  letter-spacing: calc(0.8rem + 1vw);
  color: #d0c3b4;
  left: 2%;
}

.s0_brand_subtitle {
  position: absolute;
  top: calc(8vh + 5vw);
  font-size: calc(0.5rem + 0.5vw) !important;
  letter-spacing: calc(0.2rem + 0.1vw);
}

.s0_logo svg {
  position: absolute;
  top: -5%;
  left: 10%;
  width: 80%;
}

.s0_animated_square {
  width: 40vw;
  min-width: 300px;
  aspect-ratio: 4 / 3.5;
  position: absolute;
  top: 20%;
}

.s0_svg_square {
  width: 100%;
  height: 100%;
}

.s0_cadre_home_droit {
  height: 60vh;
  position: absolute;
  top: 80vh;
  border-right: #332d2a !important;
  right: -200px;
  width: 10%;
}
.s0_cadre_home_gauche {
  height: 40vh;
  border-left: #332d2a !important;
  border-top: #332d2a !important;
  left: -200px;
  position: absolute;
  width: 10%;
}

.border_creme {
  border: solid 1px #d0c3b482;
}

.s0_header {
  position: absolute;
  top: 4vh;
  text-align: right;
  font-size: 1vw;
}

#s0_landing,
#s1_product,
#s2,
#s2_customers,
#s2_homeStudio,
#s2_proStudio,
#s2_realPreview,
#s3_diy,
#s4_business,
#s5_contact,
#s1_square,
#s1_product_dif,
#s1_product_abs {
  height: 100vh;
      border-bottom: solid thin #FFFFFF;

}

.text-creme {
  color: #d0c3b4;
}

/* s4 */

.s4_values_text {
/*   padding: calc(0.5rem + 0.8vw)!important;
 */
}

.s4_list_icon {
  width: 40px;
  height : 40px;
  color: #8ea65f;
}

.s4_values_header {
  letter-spacing: 0.3vw;
}


.s4_values_subtitles1 {
  font-size: calc(0.9rem + 0.4vw);
}
.s4_values_subtitles2 {
  font-size: calc(1.8rem + 2vw);
}
.s4_values_subtitles3 {
  font-size: calc(0.9rem + 0.2vw);
}

.card_table {
  width: 100%;
}

.cards_container {
  background: none;
  cursor: grab;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.deck {
  position: absolute;
  width: 332px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 150px;
  height: 85vh;
  max-height: 285px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 10px 10px -10px #332d2a;
}

/* s2 */

#s2_realPreview img {
  width: 100%;
  padding-bottom: 5%;
}

#s2_customers {
  opacity: 1;
}

#s2_customers svg {
  display: inline-block;
  height: auto;
  width: 100%;
  z-index: -1;
}

.dark_bg {
  background-color: #332d2a;
}

.zi_up {
  z-index: 1000 !important;
}

.snapy {
  scroll-snap-type: y mandatory;
}

.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}
.image-hover:hover {
  opacity: 1;
}

.s1_product_order {
  min-height: 48%;
}

.s1_product_text_presentation {
  padding-top: 5vw;
  height: 25vh;
}

.s1_product_list {
  height: 30vh;
}

.s1_product_name {
  width: 50%;
  aspect-ratio: 4/3.5;
}

.s1_product_name h2 {
  text-align: center;
  font-size: calc(1rem + 0.4vw);
  letter-spacing: calc(0.3rem + 0.2vw);
}

.s1_product_name span {
  font-size: calc(1.3rem + 0.4vw);
  letter-spacing: calc(0.3rem + 0.2vw);
}

.s1_product_physic {
  position: relative;
  left: -25%;
  top: -15%;
  width: 30%;
  aspect-ratio: 4/4;
}

.s2_rideau {
  position: relative;
  background-color: #332d2a;
  z-index: 1000;
}

.s2_photo_studio {
  width: calc(50vh + 20vw) !important;
  padding: calc(5vh);
}

.s2_studio_button {
  margin: calc(2rem + 1vw)!important;
}



.s2_sentence_pro h2 {
  font-weight: 100;
  font-size: calc(1rem + 2vw);
  letter-spacing: calc(0.2rem + 0.5vw) !important;
  padding-left: 0.4em;
}

.s2_sub2 {
  font-size: calc(0.7rem + 0.8vw);
}

.s2_canvas_row {
  position: absolute;
  top: 0;
  left : 0;
  z-index : -1;
  height : 80%;
}

.s2_canvas_container {
  width : auto;
}

.s1_product_physic img {
  width: 90%;
}

.s1_product_list .list-group {
  --bs-list-group-bg: none;
  --bs-list-group-color: none;
  --bs-list-group-border-width: none;
}

.s2_customers_photo img {
  width: 90%;
  border-radius: 1%;
  filter: brightness(0.9) contrast(100%) grayscale(20%) opacity(80%) saturate(100%) sepia(30%);
}

.s2_customers_photo img:hover {
  filter: brightness(1) contrast(100%) grayscale(0%) opacity(100%) saturate(100%) sepia(0%);
  transition: all 1s;
}

.w-12 {
  flex-grow: 1 !important;
  text-align: center;
}

.w-25 {
  flex-grow: 2 !important;
  text-align: center;
}

.bg-red {
  background-color: red;
}

.s2_vertical_square {
  height: 100vh;
}

.s2_customers_text {
  text-transform: uppercase;
  font-size: 1vw;
  line-height: 1vw;
}

.cadre_pro {
  position: absolute;
  right: 10vw;
  aspect-ratio: 4 / 3.5;
  width: 30vw !important;
}

.s2_list_pro {
  width: 100%;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: center center;
  font-size: 0.8vw;
}



.s3_line_bg div {
  font-size: calc(0.3rem + 0.6vw);
  position: relative;
}

.s3_line_bg div:before {
  border-top: thin solid #d0c3b4;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: calc((0.3rem + 0.6vw)/1.5); left: 0; right: 0; bottom: 0;
  width: 95%;
  z-index: -1;
}

.s3_line_bg div span { 
  background: #332d2a; 
  padding: 0 15px; 
} 

.s3_diy_bg h2 {
  font-size: calc(0.7rem + 0.5vh);
  text-align: center;
}

.s3_row_explanation {
  height: 15vh;
}


.s3_row_icons div {
  position: relative !important;
}
.s3_arrow_left {
  color: #d0c3b4;
  font-size: 1.2vw;
  background-color: #332d2a;
  position: absolute !important;
  left: -0.6vw;
  top: 30%;
}
.s3_arrow_right {
  color: #d0c3b4;
  font-size: 1.2vw;
  background-color: #332d2a;
  position: absolute !important;
  right: -0.6vw;
  top: 30%;
}

.s3_diy_bg {
  width:auto;
  height: 80vh;
  background: url("../indus.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 4/2.25!important;

}

.s3_diy_draw {
  height: 50vh;
}

.s3_dif_diy {
  width: calc(40vh + 5vw);
}


.s3_diy_guide_text {
  position: relative;
  font-size: calc(0.7rem + 0.5vh);
  height: 45vh;
  padding-left: calc(0.5rem + 2vw)!important;
  padding-right: calc(0.5rem + 2vw)!important;
}

.s3_diy_guide_text img {
  height: calc(50px + 4vw);
  padding: 15%;
}

.cards {
  position: relative;
  height: 30vh;
  text-align: center;
}

.s3_row_explanation .col {
text-align: justify;
}

.cards img {
  margin: auto;
  width: 150px;
}

.dif_diy img {
  width: 90%;
  margin: auto;
}

.presentation_produit {
  position: absolute;
  z-index: -1;
  width: 100vw !important;
}

.s1_button_subtitle {
  font-size: calc(0.5rem + 0.5vw);
  letter-spacing: 4px !important;
}

.s1_product_sub_blue {
  color: #b4bfd0;
}

.s1_product_sub_red {
  color: #e07e7e;
}

.s4_marquee {
  font-size: calc(1rem + 1vw);
  font-family: "Alcubierre", sans-serif !important;
  text-transform: uppercase;
  height: 15vh;
  border-top: #d0c3b4 solid 5px;
  border-bottom: #d0c3b4 solid 5px;
  letter-spacing: 0.6vw;
}

.s4_marquee img {
  margin: auto;
  width: calc(2rem + 1vw)
}

.s4_list {
  min-height: 200px ;
}



.s4_row_business_values {
  height: 80%;
  rotate: -1.5deg;
}

.contact_row {
  height: 50vh;
}

.ft {
  font-size: calc(0.8rem + 0.2vw)!important;

}

.ft2{  font-size: calc(1rem + 0.3vw)!important;
}


.s4_values_text_title {
  letter-spacing: 0.2vw;
  border-radius: 3px;
  width: 100%;
  font-size: calc(1rem + 0.3vw)!important;
}

.text-justify  { text-align: justify !important; }

.left_creme {
  border-left: solid thin #d0c3b4;
}
.right_creme {
  border-right: solid thin #d0c3b4;
}
.bottom_creme {
  border-bottom: solid thin #d0c3b4;
}

.logo_orientation {
  height: 40vh;
}

.ekleo_logo {
  width: 50% !important;
  margin: auto;
}

.social i {
  font-size: 2vw;
}

.bg_light {
  background-color: #8ea65f8a;
}

.h-10 {
  height: 5vh;
}

.h-20 {
  height: 10vh;
}

.LazyLoad {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.is-visible {
  opacity: 1;
}

@media (max-width: 575.98px) {
  .s1_product_name {
    width: unset;
    aspect-ratio: unset;
    border: none;
  }

  .s2_customers_photo img {
    width: 100%;
  }
  
.s3_diy_bg {
  width:100vw;
  height: auto;
  background: none;
  padding-top: none;
  aspect-ratio: none;
}

.s4_row_business_values {
  rotate: none;
}

#s0_landing,
#s1_product,
#s2,
#s2_customers,
#s2_homeStudio,
#s2_proStudio,
#s2_realPreview,
#s3_diy,
#s4_business,
#s5_contact,
#s1_square,
#s1_product_dif,
#s1_product_abs {
  height: auto;

}

.s4_list_icon {
  width: 100%;
}
  
  
}
