@font-face {
    font-family: "futura-light";
    src: url("../fonts/futura-light.ttf");
    src: url("../fonts/futura-light.eot");
    src: url("../fonts/futura-light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/futura-light.woff") format("woff");
  
  }
  @font-face { /* logo quadratik */
    font-family: "alcubierre";
    src: url("../fonts/Alcubierre.ttf");
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
  body {
    background-color: #332D2A!important;
    color: #FFFFFF!important;
    font-family: "futura-light", sans-serif !important;
    /* line-height: 1.2em;
  letter-spacing: 0.2em; */
    column-span: all;
    width: 100vw;
    margin: 0 auto;
    height: 100vh!important;
    font-weight: 300 !important;
    line-height : 1.8em!important;
    letter-spacing : 0.1em;
    overflow-x: hidden;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }

  h2 {
    text-transform: uppercase;
    font-family: "alcubierre";
    letter-spacing: 5px;
  }

  .burger {
    z-index: 1000;
    position: fixed;
  }

.cadre_logo {
    aspect-ratio : 4 / 3.5;
    position: relative;
    top: 15vh;
    margin: auto;
    font-size:calc(6px + 0.7vw);
    color: #FFFFFF;
}

.brand_name {
  font-family: alcubierre;
  font-size : 2.5vw;
  font-weight : 500;
  letter-spacing : 1.5rem;
  color : #D0C3B4;
  line-height : 3rem;
  position: relative;
  top : -5vh;
  left : 0.7vw;
}

.brand_subtitle {
 font-size : 1vw;
 position : relative;
 top : -2vh;
}

.logo_cadre svg{
  aspect-ratio : 4 / 3.5;
  width: 45vw;
}
.logo_cadre {
position: absolute;
}


.logo_row svg {
  display: block;
  margin: 0 auto;
  width: 20vw
}

.cadre_home_droit {
    height: 60vh;
    position: relative;
    top: 80vh;
    border-right: #332D2A!important;
    right : -200px;
    position : relative;
}
.cadre_home_gauche {
    height: 40vh;
    border-left: #332D2A!important;
    left : -200px;
    position : relative;

}

.border_creme {
    border: solid thin #D0C3B4;
}

.logo {
    width: 100%!important;
}

.header {
    position: absolute;
    top: 4vh;
    text-align: right;
    font-size: 1vw;
}

#s0, #s1, #s2, #s2_pro, #s2_hstudio, #s2_studio,  #s3, #s4, #s5, #s1_square, #s1_dif, #s1_abs {
    height : 100vh;
/*     border-bottom: solid thin #FFFFFF;
 */}

 .square {
height: 40vw;
border-left: #332D2A!important;
font-family: alcubierre;
font-weight: 600;
letter-spacing: 0.2rem;
/* transform: rotate(-45deg);
 *//* background-color: #F1F1F1;
opacity: 0.1; */
 }

.s1_text_presentation {
  padding-top: 5vw;
  height: 25vh;
}

.s1_list {
  height: 30vh;
}

.s1_list .list-group {
  --bs-list-group-bg:  none;
  --bs-list-group-color: none;
  --bs-list-group-border-width: none;
}

#s2_hstudio img, #s2_studio img {
  width: 80vw;
  margin: auto;
}

#s2_pro h2 {
  margin-top : 25vh;
  font-size: 3.5vw ;
}

.s2_vertical_square {
  height: 100vh;
}

.s2_pro_text {
  text-transform : uppercase;
  font-size: 2vw;
  line-height : 5vw;
}

.s2_pro_shape {
  width: 80%;
}
.s3_bg_content {
  padding-top: 20vh;
  max-height: 100vh;
  max-width: 170vh;
}

.s3_guide_text {
  font-size: 0.9vw;
  text-align: justify;
}

.s3_guide_text .row {
  align-items: center;
  padding-top: 1.5vw;
  line-height: 1.5vw;
}
.s3_guide_text img {
  height : 5vw;
}

.cards {
  position: relative;
  height: 30vh;
  text-align: center;
 
}

.cards img {
margin: auto;
width: 150px;

}


.s3_bg_indus_frame {
  position: absolute;
z-index: -1000;
width: 100vw;
max-height: 100vh;

}

.dif_diy img {
  width: 70%;
  margin: auto;
  padding-top: 12vh;
}


.btn-primary {
  font-family: "Alcubierre", sans-serif !important;
  color:#332D2A!important;
  background-color: #F1F1F1!important;
  border-color: white!important;
  letter-spacing: 4px!important;
  text-transform: uppercase;
  border-radius: 5px!important;
  padding: 0.8vw!important;
}

.btn-secondary {
  font-family: "Alcubierre", sans-serif !important;
  font-size: 2.8vw!important;
  color:black!important;
  background-color: transparent!important;
  border-color: black!important;
  letter-spacing: 0.5vw!important;
  white-space: nowrap;
  text-transform: uppercase;

}

.presentation_produit {
  position: absolute;
  z-index: -1;
  width:100vw!important;
}

.button_subtitle {
  font-size: small;
  letter-spacing: 4px!important;

}

.button_home {
  width: 100%!important;
}

.marquee_diy {
  font-size: 2vw ;
  font-family: "Alcubierre", sans-serif !important;
  text-transform: uppercase;
  height: 15vh;
  border-top: #D0C3B4 solid 5px;
  border-bottom: #D0C3B4 solid 5px;
}

.logo_marquee {
  margin: auto;
  width: 3vw;
}

.contact_row {
  height: 50vh;
}

.left_creme {
  border-left: solid thin #D0C3B4;
}
.bottom_creme {
  border-bottom: solid thin #D0C3B4;
}

.logo_orientation {
  height : 40vh
}

.ekleo_logo {
  width : 50%!important;
  margin: auto;
}

.social i {
  font-size: 2vw;
}

.h-10 {
  height : 5vh;
}

.h-20 {
  height : 10vh;
}